h1, h2, h3, h4, h5, h6, body{ padding: 0; margin: 0; }
body{ background : url("../images/pattern.gif") repeat-y 100%; }

fieldset{ display: block; -moz-margin-start: 2px; -moz-margin-end: 2px; -moz-padding-before: 0.35em; -moz-padding-start: 0.75em; -moz-padding-end: 0.75em; -moz-padding-after: 0.625em; -webkit-margin-start: 2px; -webkit-margin-end: 2px; -webkit-padding-before: 0.35em; -webkit-padding-start: 0.75em; -webkit-padding-end: 0.75em; -webkit-padding-after: 0.625em; border: 2px groove threedface;  }

fieldset legend{ display: block; text-indent: 0; position: relative; -moz-padding-start: 2px; -moz-padding-end: 2px; -webkit-padding-start: 2px; -webkit-padding-end: 2px; border: none; }

h1{ background: #123445; color: white; position: fixed; width: 100%; font-size: 16px; padding: 10px; top: 0px; left: 0px; }

#wrapper{ padding: 50px 10px 5px 10px; }

#sidebar{ float: right; width: 310px;}
h2.sp_skin_title{ font-size: 16px; margin-bottom: 10px; border-bottom: 0px solid #EAEAEA;  margin-top: 10px; padding: 0px 0px 5px 8px; }
#canvas{ margin-right: 340px; }
#view{ border: 3px solid #EAEAEA; overflow: auto; padding: 10px; padding-bottom: 100px; }


